@if (Provinces.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th><h6>Provinces Id</h6></th>
                <th><h6>Provinces Name</h6></th>
                <th>
                    <div class="action">
                        <button class="text-dark">
                            <i class="lni lni-plus"></i>
                        </button>
                    </div>
                </th>

            </tr>
            <!-- end table row-->
        </thead>
        <tbody>
            @foreach (var provinces in Provinces)
            {
                <tr>
                    <td>@provinces.ProvId</td>
                    <td>@provinces.ProvName</td>
                    <td>

                        <div class="action">
                            <button class="text-dark">
                                <i class="lni lni-pencil"></i>
                            </button>
                            <button class="text-dark">
                                <i class="lni lni-trash-can"></i>
                            </button>
                        </div>
                    </td>
                </tr>

            }
        </tbody>
    </table>

}