@if (Regions.Count > 0)
{
    <table class="table">
        <thead>
            <tr class="align-content-lg-stretch">
                <th><h6>Region Id</h6></th>
                <th><h6>Region Name</h6></th>
                <th>
                    <div class="action">
                        <button class="text-dark">
                            <i class="lni lni-plus"></i>
                        </button>
                    </div>
                </th>
            </tr>
            <!-- end table row-->
        </thead>
        <tbody>
            @foreach (var regions in Regions)
            {
                <tr>
                    <td>@regions.regionCode</td>
                    <td>@regions.RegionName</td>
                    <td>

                        <div class="action">
                            <button class="text-dark">
                                <i class="lni lni-pencil"></i>
                            </button>
                            <button class="text-dark">
                                <i class="lni lni-trash-can"></i>
                            </button>
                        </div>
                    </td>
                </tr>

            }
        </tbody>
    </table>

}
