<div class="search d-none d-md-flex">
    <div class="input-style-2 col-4">
        <input type="text" placeholder="Search">
        <span class="icon"><i class="lni lni-search-alt"></i></span>
    </div>
</div>

