@using Realta.Frontend.Pages.Master
@if (ServiceTask.Count > 0)
{
    <table class="table">
        <thead>
            <tr class=" align-content-stretch  ">
                <th><h6>ID</h6></th>
                <th><h6>Task Name</h6></th>
                <th><h6>Sequence Order</h6></th>
                <th>
                    <div class="action">
                        <button class="text-dark">
                            <i class="lni lni-plus"></i>
                        </button>
                    </div>
                </th>
            </tr>
            <!-- end table row-->
        </thead>
        <tbody>
            @foreach(var servicetask in  ServiceTask)             {
                <tr>
                    <td>@servicetask.SetaId</td>
                    <td>@servicetask.SetaName</td>
                    <td>@servicetask.SetaSeq</td>
                    <td>

                        <div class="action">
                            <button class="text-dark">
                                <i class="lni lni-pencil"></i>
                            </button>
                            <button class="text-dark" data-bs-toggle="modal" data-bs-target="#deleteservicetask">
                                <i class="lni lni-trash-can"></i>
                            </button>
                        </div>
                    </td>
                </tr>

            }
        </tbody>
    </table>
}