@page "/profile"

<div class="card-style">
                  <h6 class="mb-10">General</h6>
                  <p class="text-sm mb-20">
                    This information will be display, so be careful what you share
                  </p>
                  <div class="table-wrapper table-responsive">
                    <table class="table">
                      
                      <tbody>
                        <tr>
                          <td class="min-width">
                            <div class="lead">
                              <div class="lead-image">
                                <img src="plain/assets/images/lead/lead-1.png" alt="">
                              </div>
                              <div class="lead-text">
                                <p>Courtney Henry</p>
                              </div>
                            </div>
                          </td>
                          <td class="min-width">
                            <p><a href="#0">yourmail@gmail.com</a></p>
                          </td>
                          <td class="min-width">
                            <p>(303)555 3343523</p>
                          </td>
                      
                        </tr>
                        <!-- end table row -->
                        <tr>
                          <td class="min-width">
                            <div class="lead">
                              <div class="lead-image">
                                <img src="assets/images/lead/lead-2.png" alt="">
                              </div>
                              <div class="lead-text">
                                <p>JOhn Doe</p>
                              </div>
                            </div>
                          </td>
                          <td class="min-width">
                            <p><a href="#0">yourmail@gmail.com</a></p>
                          </td>
                          <td class="min-width">
                            <p>(303)555 3343523</p>
                          </td>
                        
                        </tr>
                        <!-- end table row -->
                        <tr>
                          <td class="min-width">
                            <div class="lead">
                              <div class="lead-image">
                                <img src="assets/images/lead/lead-3.png" alt="">
                              </div>
                              <div class="lead-text">
                                <p>David Smith</p>
                              </div>
                            </div>
                          </td>
                          <td class="min-width">
                            <p><a href="#0">yourmail@gmail.com</a></p>
                          </td>
                          <td class="min-width">
                            <p>(303)555 3343523</p>
                          </td>
                       
                        </tr>
                        <!-- end table row -->
                        <tr>
                          <td class="min-width">
                            <div class="lead">
                              <div class="lead-image">
                                <img src="assets/images/lead/lead-4.png" alt="">
                              </div>
                              <div class="lead-text">
                                <p>Jonathon</p>
                              </div>
                            </div>
                          </td>
                          <td class="min-width">
                            <p><a href="#0">yourmail@gmail.com</a></p>
                          </td>
                          <td class="min-width">
                            <p>(303)555 3343523</p>
                          </td>
                       
                        </tr>
                        <!-- end table row -->
                        <tr>
                          <td>
                            <div class="lead">
                              <div class="lead-image">
                                <img src="assets/images/lead/lead-5.png" alt="">
                              </div>
                              <div class="lead-text">
                                <p>Anna Lee</p>
                              </div>
                            </div>
                          </td>
                          <td>
                            <p><a href="#0">yourmail@gmail.com</a></p>
                          </td>
                          <td>
                            <p>(303)555 3343523</p>
                          </td>
                         
                        </tr>
                        <!-- end table row -->
                        <tr>
                          <td>
                            <div class="lead">
                              <div class="lead-image">
                                <img src="assets/images/lead/lead-6.png" alt="">
                              </div>
                              <div class="lead-text">
                                <p>Gray Simon</p>
                              </div>
                            </div>
                          </td>
                          <td>
                            <p><a href="#0">yourmail@gmail.com</a></p>
                          </td>
                          <td>
                            <p>(303)555 3343523</p>
                          </td>
                        
                        </tr>
                        <!-- end table row -->
                      </tbody>
                    </table>
                    <!-- end table -->
                  </div>
                </div>
<div class="card-style">
    <h6 class="mb-10">Security</h6>
    <p class="text-l ">
        Change password
         <div class="input-style-1">

            <input type="text" placeholder="********">
        </div>
    </p>
   
</div>
<div class="card-style mb-30">
                  <h6 class="mb-10">Point & Member</h6>
                  <p class="text-sm mb-20">
                    Use one of two modifier classes to make thead appear light
                    or dark gray.
                  </p>
                  <div class="table-wrapper table-responsive">
                    <table class="table striped-table">
                      <thead>
                        <tr>
                          <th></th>
                          <th><h6>Created On</h6></th>
                          <th><h6>Bonus Type</h6></th>
                          <th><h6>Point</h6></th>
                        </tr>
                        <!-- end table row-->
                      </thead>
                      <tbody>
                        <tr>
                          <td>

                          </td>
                          <td>
                            <p>12-Jul-2022</p>
                          </td>
                          <td>
                            <p>Rating</p>
                          </td>
                          <td>
                            <p>100</p>
                          </td>
                        </tr>
                        <!-- end table row -->
                        <tr>
                          <td>

                          </td>
                          <td>
                            <p>26-Dec-2022</p>
                          </td>
                          <td>
                            <p>Rating</p>
                          </td>
                          <td>
                            <p>200</p>
                          </td>
                        </tr>
                        <!-- end table row -->
                        <tr>
                          <td>

                          </td>
                          <td>
                            <p>12-Jul-2022</p>
                          </td>
                          <td>
                            <p>Rating</p>
                          </td>
                          <td>
                            <p>100</p>
                          </td>
                        </tr>
                        <!-- end table row -->
                        <tr>
                          <td>

                          </td>
                          <td>
                            <p>26-Dec-2022</p>
                          </td>
                          <td>
                            <p>Rating</p>
                          </td>
                          <td>
                            <p>200</p>
                          </td>
                        </tr>
                        <!-- end table row -->
                        <tr>
                          <td>

                          </td>
                          <td>
                            <p>12-Jul-2022</p>
                          </td>
                          <td>
                            <p>Rating</p>
                          </td>
                          <td>
                            <p>100</p>
                          </td>
                        </tr>
                        <!-- end table row -->
                        <tr>
                          <td>

                          </td>
                          <td>
                            <p>26-Dec-2022</p>
                          </td>
                          <td>
                            <p>Rating</p>
                          </td>
                          <td>
                            <p>200</p>
                          </td>
                        </tr>
                        <!-- end table row -->
                      </tbody>
                    </table>
                    <!-- end table -->
                  </div>
                </div>
