@page "/purchasing/list-order"
@using Realta.Frontend.Components

<PageTitle>Purchase Order</PageTitle>

<section class="table-components">
    <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title mb-30">
                        <h2>Purchasing Order</h2>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/purchasing">Purchasing</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Purchasing Order
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->
        <!-- ========== tables-wrapper start ========== -->
        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <form class="row">
                            <div class="search col-4">
                                <div class="input-style-3 rounded-5">
                                    <input type="text" placeholder="PO Number / Vendor Name">
                                    <button class="btn icon"><i class="lni lni-search-alt"></i></button>
                                </div>
                            </div>
                            <div class="select-style-1 col-3 rounded-sm">
                                <div class="select-position">
                                    <select>
                                        <option value="" selected>Semua Status</option>
                                        <option value="1">Pending</option>
                                        <option value="2">Approve</option>
                                        <option value="3">Receive</option>
                                        <option value="4">Reject</option>
                                        <option value="5">Complete</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col">
                                <a href="#0" class="main-btn dark-btn rounded-md btn-hover">Search</a>
                            </div>
                        </form>
                        <div class="table-wrapper table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th><h6>#</h6></th>
                                        <th><h6>PO Number</h6></th>
                                        <th><h6>PO Date</h6></th>
                                        <th><h6>Vendor Target</h6></th>
                                        <th><h6>Line Items</h6></th>
                                        <th><h6>Total Amount</h6></th>
                                        <th><h6>Status</h6></th>
                                        <th><h6></h6></th>
                                    </tr>
                                    <!-- end table row-->
                                </thead>
                                <tbody>
                                @for (int i = 1; i <= 5; i++)
                                {
                                    <tr>
                                        <td class="min-width">
                                            <p>@i</p>
                                        </td>
                                        <td class="min-width">
                                            <p>PO-202303-00 @i</p>
                                        </td>
                                        <td class="min-width">
                                            <p>2023-03-01</p>
                                        </td>
                                        <td class="min-width">
                                            <p>Cocoalici LLC</p>
                                        </td>
                                        <td class="min-width">
                                            <p>2</p>
                                        </td>
                                        <td class="min-width">
                                            <p>IDR 5,000,000.00</p>
                                        </td>
                                        <td class="min-width">
                                            <span class="status-btn success-btn">Pending</span>
                                        </td>
                                        <td>
                                            <div class="dropdown me-1">
                                                <i class="btn lni lni-more-alt dropdown-toggle" data-bs-toggle="dropdown"></i>
                                                <ul class="dropdown-menu">
                                                    <li><a class="dropdown-item btn btn-sm" href="#">Details</a></li>
                                                    <li><hr class="dropdown-divider"></li>
                                                    <li><button class="dropdown-item btn btn-sm" data-bs-toggle="modal" data-bs-target="#detail">Switch status</button></li>
                                                    <li><hr class="dropdown-divider"></li>
                                                    <li><a class="dropdown-item btn btn-sm text-danger" href="#">Delete</a></li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                            <!-- end table -->
                        </div>
                    </div>
                    <!-- end card -->
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== tables-wrapper end ========== -->
    </div>
    <!-- end container -->
</section>

<!-- Modal -->
<div class="modal fade" id="detail" tabindex="-1" aria-labelledby="detailLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="detailLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
