@page "/restoMenus"





<div class="col-lg-12">
    <div class="card-style mb-30">
        <div class="
                    title
                    d-flex
                    flex-wrap
                    justify-content-between
                    align-items-center
                  ">
            <div class="left">
                <h6 class="text-medium mb-30">Top Selling Products</h6>
            </div>
            <div class="right">
                <div class="select-style-1">
                    <div class="select-position select-sm">
                        <select class="light-bg">
                            <option value="">sdf</option>
                            <option value="">Monthly</option>
                            <option value="">Weekly</option>
                        </select>
                    </div>
                </div>
                <!-- end select -->
            </div>
        </div>
        <!-- End Title -->
        <div class="table-responsive">
            <table class="table top-selling-table">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            <h6 class="text-sm text-medium"> Icon </h6>
                        </th>
                        <th>
                            <h6 class="text-sm text-medium">Id</h6>
                        </th>
                        <th class="min-width">
                            <h6 class="text-sm text-medium">Menu Name</h6>
                        </th>
                        <th class="min-width">
                            <h6 class="text-sm text-medium">Price</h6>
                        </th>
                        <th class="min-width">
                            <h6 class="text-sm text-medium">Type</h6>
                        </th>
                        <th class="min-width">
                            <h6 class="text-sm text-medium">Status</h6>
                        </th>
                        <th class="min-width">
                            <h6 class="text-sm text-medium">
                                <a href="#"> Add +</a>
                            </h6>
                        </th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in RestoMenusList)
                    {




                        <tr>
                            <td>
                                <div class="check-input-primary">
                                    <input class="form-check-input" type="checkbox" id="checkbox-1">
                                </div>
                            </td>
                            <td border="1" width="100px">
                                <div class="product">
                                    <div class="icon">
                                        <img src="plain/assets/images/products/meal-food-icon.png" alt="" width="50" height="50">

                                    </div>

                                </div>
                            </td>
                            <td>
                                <p class="text-sm">@item.RemeId</p>
                            </td>
                            <td>
                                <p class="text-sm">@item.RemeName</p>
                            </td>
                            <td>
                                <p class="text-sm">Rp. @string.Format("{0:n0}", item.RemePrice)</p>
                            </td>
                            <td>
                                <p class="text-sm">Food</p>
                            </td>
                            <td>
                                <p class="text-sm">Available</p>
                            </td>
                            <td>
                                <div class="text-sm">
                                    <button class="more-btn ml-10 dropdown-toggle" id="moreAction1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="lni lni-more-alt"></i>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="moreAction1" style="">
                                        <li class="dropdown-item">
                                            <a href="#0" class="text-gray">Remove</a>
                                        </li>
                                        <li class="dropdown-item">
                                            <a href="#0" class="text-gray">Edit</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    }

                    





                </tbody>
            </table>
            <!-- End Table -->
        </div>
    </div>
</div>