@page "/uploadRestoMenus"

<div class="card-style mb-30">
    <h6 class="mb-25">Input Fields</h6>
    <div class="input-style-1">
        <label>Full Name</label>
        <input type="text" placeholder="Full Name">
    </div>
    <!-- end input -->
    <div class="input-style-2">
        <input type="text" placeholder="Full Name">
        <span class="icon"> <i class="lni lni-user"></i> </span>
    </div>
    <!-- end input -->
    <div class="input-style-3">
        <input type="text" placeholder="Full Name">
        <span class="icon"><i class="lni lni-user"></i></span>
    </div>
    <!-- end input -->
</div>