@page "/priceitems"
<PageTitle>Price Items</PageTitle>

<section class="table-components">
    <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title mb-30">
                        <h2>Price Items</h2>
                    </div>
                </div>
                <!-- end col -->
                <div class="col-md-6">
                    <div class="breadcrumb-wrapper mb-30">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/master">Price Items</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Price Items
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->
        <!-- ========== tables-wrapper start ========== -->
        <div class="tables-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-style mb-30">
                        <h6 class="mb-10">Price Items</h6>
                        <div class="row align-items-sm-center">
                            <div class="search d-none d-md-flex">
                                <div class="input-style-2 col-3 mr-10 ">
                                    <input type="text" placeholder="Search">
                                    <span class="icon"><i class="lni lni-search-alt"></i></span>
                                </div>
                                <div class="select-style-1 col-1">
                                    <div class="select-position">
                                        <select>
                                            <option value="" readonly disabled selected>Type</option>
                                            <option value="">Soft Drink</option>
                                            <option value="">Snack</option>
                                            <option value="">Food</option>
                                            <option value="">Facility</option>
                                            <option value="">Service</option>
                                        </select>
                                    </div>
                                </div>
                                <a href="#0" class=" main-btn primary-btn-outline btn-hover ml-10 h-50 w-auto align-content-center">Search</a>
                            </div>
                        </div>
                        <div class="table-wrapper table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th><h6>ID</h6></th>
                                        <th><h6>Item Name</h6></th>
                                        <th><h6>Price</h6></th>
                                        <th><h6>Type</h6></th>
                                        <th>
                                            <div class="action">
                                                <button class="text-dark">
                                                    <i class="lni lni-plus"></i>
                                                </button>
                                            </div>
                                        </th>
                                    </tr>
                                    <!-- end table row-->
                                </thead>
                                <tbody>
                                    @for (int i = 1; i <= 3; i++)
                                    {
                                        <tr>
                                            <td class="min-width">
                                                <p>@i</p>
                                            </td>
                                            <td class="min-width">
                                                <p>Coca-Cola</p>
                                            </td>
                                            <td class="min-width">
                                                <p>50000</p>
                                            </td>
                                            <td class="min-width">
                                                <p>SNACK</p>
                                            </td>

                                            <td>
                                                <div class="action">
                                                    <button class="text-dark">
                                                        <i class="lni lni-pencil"></i>
                                                    </button>
                                                    <button class="text-dark">
                                                        <i class="lni lni-trash-can"></i>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end container -->
</section>