<!-- ======== sidebar-nav start =========== -->
<aside class="sidebar-nav-wrapper">
    <div class="navbar-logo">
        <a href="index.html">
            <img src="plain/assets/images/logo/logo.svg" alt="logo" />
        </a>
    </div>
    <nav class="sidebar-nav">
        <ul>
            <li class="nav-item nav-item-has-children">
                <a href="#0"
                   class=""
                   data-bs-toggle="collapse"
                   data-bs-target="#dashboard"
                   aria-controls="dashboard"
                   aria-expanded="false"
                   aria-label="Toggle navigation">
                    <span class="icon">
                        <svg width="22" height="22" viewBox="0 0 22 22">
                            <path d="M17.4167 4.58333V6.41667H13.75V4.58333H17.4167ZM8.25 4.58333V10.0833H4.58333V4.58333H8.25ZM17.4167 11.9167V17.4167H13.75V11.9167H17.4167ZM8.25 15.5833V17.4167H4.58333V15.5833H8.25ZM19.25 2.75H11.9167V8.25H19.25V2.75ZM10.0833 2.75H2.75V11.9167H10.0833V2.75ZM19.25 10.0833H11.9167V19.25H19.25V10.0833ZM10.0833 13.75H2.75V19.25H10.0833V13.75Z" />
                        </svg>
                    </span>
                    <span class="text">Dashboard</span>
                </a>
                <ul id="dashboard" class="collapse show dropdown-nav">
                    <li>
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
                    </li>
                </ul>
            </li>
            <span class="divider"><hr /></span>
            <li class="nav-item nav-item-has-children">
                <a href="#0"
                   class="collapsed"
                   data-bs-toggle="collapse"
                   data-bs-target="#purchasing"
                   aria-controls="purchasing"
                   aria-expanded="false"
                   aria-label="Toggle navigation">
                    <span class="icon">
                        <svg width="22"
                             height="22"
                             viewBox="0 0 22 22"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.8334 1.83325H5.50008C5.01385 1.83325 4.54754 2.02641 4.20372 2.37022C3.8599 2.71404 3.66675 3.18036 3.66675 3.66659V18.3333C3.66675 18.8195 3.8599 19.2858 4.20372 19.6296C4.54754 19.9734 5.01385 20.1666 5.50008 20.1666H16.5001C16.9863 20.1666 17.4526 19.9734 17.7964 19.6296C18.1403 19.2858 18.3334 18.8195 18.3334 18.3333V7.33325L12.8334 1.83325ZM16.5001 18.3333H5.50008V3.66659H11.9167V8.24992H16.5001V18.3333Z" />
                        </svg>
                    </span>
                    <span class="text">Purchasing</span>
                </a>
                <ul id="purchasing" class="collapse dropdown-nav">
                    <li>
                        <NavLink class="nav-link" href="purchasing/vendor">Vendor</NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="purchasing/stock">Stock</NavLink>
                    </li>
                    <li>
                        <NavLink class="nav-link" href="purchasing/list-order">Purchasing Order</NavLink>
                    </li>
                </ul>
            </li> 
            <li class="nav-item nav-item-has-children">
                <a href="#0"
                   class="collapsed"
                   data-bs-toggle="collapse"
                   data-bs-target="#payment"
                   aria-controls="payment"
                   aria-expanded="false"
                   aria-label="Toggle navigation">
                    <span class="icon">
                        <?xml version="1.0" encoding="utf-8" ?>
                        <!-- Generator: Adobe Illustrator 25.2.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                        <svg fill="#1C2033" width="16" height="16" version="1.1" id="lni_lni-credit-cards" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             x="0px" y="0px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64;" xml:space="preserve">
                        <path d="M59.2,18.1v-5.7c0-1.8-0.8-3.4-2.2-4.5c-1.4-1.1-3.2-1.5-4.9-1.1L8.6,17.2H8c-3.4,0-6.2,2.8-6.2,6.2v27.6
	                        c0,3.4,2.8,6.2,6.2,6.2h48c3.4,0,6.2-2.8,6.2-6.2V23.5C62.2,21.2,61,19.2,59.2,18.1z M53.1,11.2c0.5-0.1,0.9,0.1,1.1,0.3
	                        s0.5,0.5,0.5,1v4.8H27.9L53.1,11.2z M8,21.7h48c1,0,1.8,0.8,1.8,1.8v3.9H6.2v-3.9C6.2,22.5,7,21.7,8,21.7z M57.8,31.9v4.5H6.2v-4.5
	                        H57.8z M56,52.9H8c-1,0-1.8-0.8-1.8-1.8V40.9h51.5v10.2C57.8,52.1,57,52.9,56,52.9z" />
                        </svg>

                    </span>
                    <span class="text">Payment</span>
                </a>
                <ul id="payment" class="collapse dropdown-nav">
                    <li>
                        <a href="banks"> Bank </a>
                    </li>
                    <li>
                        <a href="fintechs"> Fintech </a>
                    </li>
                    <li>
                        <a href="accounts"> Account </a>
                    </li>
                    <li>
                        <a href="topup"> Topup </a>
                    </li>
                    <li>
                        <a href="transactions"> Transaction </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item nav-item-has-children">
                <a href="#0"
                   class="collapsed"
                   data-bs-toggle="collapse"
                   data-bs-target="#master"
                   aria-controls="master"
                   aria-expanded="false"
                   aria-label="Toggle navigation">
                    <span class="icon">
                        <svg width="22"
                             height="22"
                             viewBox="0 0 22 22"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.8334 1.83325H5.50008C5.01385 1.83325 4.54754 2.02641 4.20372 2.37022C3.8599 2.71404 3.66675 3.18036 3.66675 3.66659V18.3333C3.66675 18.8195 3.8599 19.2858 4.20372 19.6296C4.54754 19.9734 5.01385 20.1666 5.50008 20.1666H16.5001C16.9863 20.1666 17.4526 19.9734 17.7964 19.6296C18.1403 19.2858 18.3334 18.8195 18.3334 18.3333V7.33325L12.8334 1.83325ZM16.5001 18.3333H5.50008V3.66659H11.9167V8.24992H16.5001V18.3333Z" />
                        </svg>
                    </span>
                    <span class="text">Master</span>
                </a>
                <ul id="master" class="collapse dropdown-nav">
                    <li>
                        <a href="settings.html"> Settings </a>
                    </li>
                    <li>
                        <a href="blank-page.html"> Blank Page </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>
<div class="overlay"></div>
<!-- ======== sidebar-nav end =========== -->